.aboutPage {
	display: flex;
	padding: 2em;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.aboutPage>h1 {
	margin: 10px;
}

.aboutPage>p {
	font-size: 1.2rem;
}

.aboutPage>p:last-child {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.aboutPage a {
	text-decoration: none;
	color: black;
	font-size: 4rem;
}