@font-face {
	font-family: "Roboto";
	src: url("../../public/roboto/Roboto-Regular.ttf");
}

body {
	margin: 0px;
	font-family: "Roboto";
}

header {
	display: flex;
	justify-content: space-between;
	padding: 1.5em;
	background-color: black;
	color: white;
	font-size: 1.4rem;
}

header>a {
	flex-grow: 5;
	color: white;
}

.headerNav {
	flex-grow: 1;
	display: flex;
	justify-content: space-evenly;
}

.headerNav>a{
	color: white;
	text-decoration: none;
}

.headerNav>a:hover{
	text-decoration: underline;
}